body{
    background: white;
}
.MyImage{
    transition: 0.7s;
   }
.MyImage:hover{
    border-radius: 50%;
   }   
.safe-area{
    margin: 1rem;
}
#ps{
    text-align: right;
    font-size: x-large;
}
#bl{
    text-align: center;
    font-size: x-large;
}
#ak{
    margin-left: 4rem;
}
#ak2{
    margin-left: 4rem;
    
}
#AK3{
    margin-left: 4rem;
}
#ak4{
    margin-left: 4rem;
}
#ak47{
    width: 421px;
    height: 548.5px;
}
#ak48{
    margin-right: 1rem;
    margin-left: 1rem;
}
#ak49{
    justify-content: space-between !important;
    display: flex !important;
}
#ak5{
    margin-left: 4rem;
}
#kk{
    direction: rtl;
    text-align: justify;
    font-size: larger;
}
#kkk{
    margin-top: 2rem;
text-align: center;
}
#kkkk{
    border-style: dotted;
}
#khatttt{
    border-style: dotted;
}
#kai{
margin-right: 1rem;
}
#navbar{
    direction: rtl;
}